<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/makedir" method="post">
    <input type="text" placeholder="请输入创建文件夹的名字" name="dirname">
    <button type="submit">创建文件夹</button>
</form>
</body>
</html>